@{
    ViewBag.Title = "Home Page";
}

<main>
    @model IEnumerable<NydusPL.Models.Empresa>

    <table>
        <tr>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Endereço</th>
        </tr>
        @foreach (var empresa in Model)
        {
            <tr>
                <td>@empresa.NomeFantasia</td>
                <td>@empresa.Cnpj</td>
                <td>@empresa.RazaoSocial</td>
            </tr>
        }
    </table>


</main>